## This Notebook contain -

- Basic Python theory
- Basic python handson(basic syntaxt , arthamtic oprations, input functon, Strings, list)

What is python - Python is a hgh level language,which is a general-purpose, open-source programming language that is used for a variety of tasks,Like -

<br>Web development
<br>Software development
<br>Data science
<br>Machine learning
<br>Automation

 

<br>1)Inetger (INT) - 1234
<br>2)Complex number  - 5+6j
<br>3)Float - 33.4
<br>4)Dictionary - {}
<br>5)Set - 
<br>6)Tuple - ()
<br>7)List - [ ]
<br>8)Boolean - True, False

In [4]:
# Print Statment in python
print("My name is Jayesh")

My name is Jayesh

In [6]:
# + oprator - 
a=10
b=20
a+b

30

In [7]:
# - oprator-
b-a

10

In [8]:
# * oprator - 
a*b

200

In [9]:
# / oprator
b/a

2.0

In [13]:
# how to take input 
a= input("enter an number ")
print (a)

enter an number 5
5

In [15]:
a= str(input("Enter an string "))
a

Enter an string jayesh

'jayesh'

In [16]:
#Check the type of variable a
type(a)

str

In [28]:
# we use j is the imaginory number in python
v=3+4j
print(type(v))
print(v.imag)
print(v.real)

<class 'complex'>
4.0
3.0

In [29]:
#boolean 
A= True
B= False

In [30]:
# False value is always 0
# True value is always 1

In [31]:
#True+False 
A+B

1

In [32]:
#True +True
A+A

2

In [33]:
type(A)

bool

In [35]:
#how to add two strings
a="Jayesh"
b=" Vadje"
c= a+b
print(c)

Jayesh Vadje

In [36]:
#we can multiply the strings 
a*3

'JayeshJayeshJayesh'

In [37]:
#we can add as well
a+a

'JayeshJayesh'

In [101]:
# Now lets look at String, string oprations and Slicing 
a= "Hello my name is Jayesh Vadje"
print(a)
type(a)

Hello my name is Jayesh Vadje

str

In [43]:
#lenght opration to check the lenght of string
len(a)

29

always remember index is starts from 0

In [47]:
a[4]

'o'

In [48]:
a[1:5]

'ello'

In [49]:
a[-1]

'e'

In [51]:
#how to revese the string
a[::-1]

'ejdaV hseyaJ si eman ym olleH'

In [53]:
#jump statment - first will be index starting ,middle will be index end and end will be jump number 
a[0:100:2]

'Hlom aei aehVde'

In [58]:
#find function - finds the first time index of the perticular element
print(a)
a.find("e")

Hello my name is Jayesh Vadje

1

In [60]:
#count - count the element how many times it occur in the string
a.count("a")

3

In [67]:
a.capitalize()

'Hello my name is jayesh vadje'

In [68]:
a.casefold()

'hello my name is jayesh vadje'

In [74]:
a.center(100,"t")

'tttttttttttttttttttttttttttttttttttHello my name is Jayesh Vadjetttttttttttttttttttttttttttttttttttt'

In [75]:
a

'Hello my name is Jayesh Vadje'

In [76]:
a.endswith("d")

False

In [81]:
a.expandtabs()

'Hello my name is Jayesh Vadje'

In [82]:
a.isalnum()

False

In [86]:
b="567657dsgfd56"

In [87]:
b.isalnum()

True

In [90]:
a.join(b)

'5Hello my name is Jayesh Vadje6Hello my name is Jayesh Vadje7Hello my name is Jayesh Vadje6Hello my name is Jayesh Vadje5Hello my name is Jayesh Vadje7Hello my name is Jayesh VadjedHello my name is Jayesh VadjesHello my name is Jayesh VadjegHello my name is Jayesh VadjefHello my name is Jayesh VadjedHello my name is Jayesh Vadje5Hello my name is Jayesh Vadje6'

In [94]:
b.zfill(77)

'0000000000000000000000000000000000000000000000000000000000000000567657dsgfd56'

In [102]:
#split opration splits the string by space
a=a.split()

In [103]:
a

['Hello', 'my', 'name', 'is', 'Jayesh', 'Vadje']

In [104]:
type(a)

list

In [105]:
a[1]

'my'

In [106]:
a[4]

'Jayesh'

In [107]:
a[4][2]

'y'

In [108]:
a[4]="Joy"

In [109]:
a

['Hello', 'my', 'name', 'is', 'Joy', 'Vadje']

In [110]:
a[4]

'Joy'

## Hands on -

Write a Python script that performs the following operations:

    Add two integers: 10 and 20
    Subtract 5 from 30
    Multiply 6 by 4
    Divide 40 by 8 and print the result

In [111]:
print(10+20)

30

In [112]:
print(30-5)

25

In [113]:
print(6*4)

24

In [114]:
print(40/8)

5.0

Question 2: Modulus and Exponentiation

Given the numbers 25 and 7, write a Python program to:

    Find the remainder when 25 is divided by 7.
    Compute 2 raised to the power of 3.

In [116]:
print(25%7)

4

In [118]:
print(2**3)

8

Question 3: Input Function

Write a Python script that:

    Prompts the user to enter their name.
    Prompts the user to enter their age.
    Prints a message saying "Hello [Name], you are [Age] years old."

In [129]:
name=str(input("enter your name "))
print(name)

enter your name jayesh
jayesh

In [130]:
age=int(input("Enter you age"))
print(age)

Enter you age24
24

In [135]:
print(f'Hello {name},you are {age} years old')

Hello jayesh,you are 24 years old

2. Strings:
Question 4: String Manipulation

Given the string "Python is Fun!", write a Python program to:

    Print the string in all uppercase.
    Print the string in reverse order.
    Extract and print the substring "Python".
    Replace "Fun" with "Awesome" and print the result.

In [136]:
a = "Python is Fun!"
a.upper()

'PYTHON IS FUN!'

In [137]:
a[::-1]

'!nuF si nohtyP'

In [139]:
a[0:6]

'Python'

In [140]:
a.replace("Fun" , "Awesome")

'Python is Awesome!'

Question 5: String Concatenation

Write a program that takes two strings as input from the user and prints the concatenated result of those two strings.

In [141]:
a=str(input("enter first string"))
b=str(input("enter second string"))
c=a+b
c

enter first stringjayesh
enter second stringvadje

'jayeshvadje'

3. Lists:
Question 6: List Operations

Create a list containing the following items: ["apple", "banana", "cherry", "date"]. Write a program to:

    Append "orange" to the list.
    Remove "banana" from the list.
    Print the first and last item of the list.
    Sort the list alphabetically.

In [155]:
lst=["apple", "banana", "cherry", "date"]

In [156]:
lst.append("orange")
lst

['apple', 'banana', 'cherry', 'date', 'orange']

In [157]:
lst.remove("banana")
lst

['apple', 'cherry', 'date', 'orange']

In [161]:
print(lst[0])
print(lst[-1])

apple
orange

In [164]:
lst.sort()

In [165]:
lst

['apple', 'cherry', 'date', 'orange']

Question 7: List Slicing

Given the list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], write a Python program to:

    Print the first 5 elements.
    Print the last 5 elements.
    Print the list in reverse order.

In [168]:
lst= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst[0:5]

[1, 2, 3, 4, 5]

In [180]:
lst[-5:]

[6, 7, 8, 9, 10]

In [182]:
lst[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Define a complex number 5 + 6j and print its real and imaginary parts separately.

In [185]:
b=5 + 6j
b.imag

6.0

In [186]:
b.real

5.0

5. Boolean:
Question 9: Boolean Conditions

Write a Python program that:

    Takes two numbers as input from the user.
    Compares the two numbers using comparison operators (>, <, ==)

In [195]:
a=int(input("enter number 1st "))
b=int(input("enter number 2nd "))

enter number 1st 3
enter number 2nd 6

In [196]:
a>b

False

In [197]:
a<b

True

In [198]:
a==b

False