# For loop

For loop is used to iterate over the sequence like list , tuple, strings and other itrable objects

Question 1: Sum of List Elements

Given a list of numbers numbers = [10, 20, 30, 40, 50]:

    Write a Python program to calculate the sum of all elements in the list using a for loop.
    Print the final sum.

In [24]:
numbers = [10, 20, 30, 40, 50]
Sum=0
for i in numbers:
    Sum+=i
print(Sum)

150

Question 2: Count Vowels in a String

Write a Python program that takes a string input from the user:

    Use a for loop to count the number of vowels (a, e, i, o, u) in the string.
    Print the total count of vowels.

Example: For the input "hello", the output should be 2.

In [36]:
S=str(input("enter th string = "))
Vowels="aeiouAEIOU"
Vowels_count=0
for i in S:
    if i in Vowels:
        Vowels_count+=1
print(Vowels_count)

enter th string = jayesh
2

Question 3: Filter Odd Numbers in a Tuple

Given a tuple of integers numbers = (11, 22, 33, 44, 55, 66):

    Write a Python program to iterate through the tuple and print only the odd numbers.

In [50]:
numbers = (11, 22, 33, 44, 55, 66)
odd=[]
for i in numbers:
    if i%2!=0:
        odd.append(i)
print(odd)

[11, 33, 55]

Question 4: Multiply Elements in a Set

Given a set values = {2, 3, 5, 7, 11}:

    Write a Python program that uses a for loop to multiply all elements in the set together.
    Print the final product.

In [69]:
values = {2, 3, 5, 7, 11}
for i in values:
    A=i*i
    print(A)

4
9
25
49
121

Question 5: Print Dictionary Keys and Values

Given a dictionary person = {'name': 'Alice', 'age': 30, 'city': 'London'}:

    Write a Python program to iterate through the dictionary and print each key along with its corresponding value in the format "key: value".

In [77]:
person = {'name': 'Alice', 'age': 30, 'city': 'London'}
for i,j in person.items():
    print(i,j)

name Alice
age 30
city London

Question 6: Calculate Total and Average Grades

Given a dictionary grades = {'Math': 85, 'Science': 90, 'English': 78, 'History': 88}:

    Write a Python program to calculate the total and average of the grades using a for loop.
    Print the total and average.

In [93]:
grades = {'Math': 85, 'Science': 90, 'English': 78, 'History': 88}
total=0
avg=0
c=[]
for i,j in grades.items():
    total+=j
    c.append(j)
    
    avg=total/len(c)
print(total)
print(avg)

341
85.25

Question 7: Find Common Elements in Two Lists

Given two lists:

python

list1 = ['apple', 'banana', 'cherry']
list2 = ['banana', 'kiwi', 'apple']

    Write a Python program that uses a for loop to find and print elements that are common in both lists.

In [96]:
list1 = ['apple', 'banana', 'cherry',"chiku"]
list2 = ['banana', 'kiwi', 'apple',"chiku"]

for i in list1:
    for j in list2:
        if i==j:
            print(i)

apple
banana
chiku

Question 8: Square Elements in a List

Given a list numbers = [1, 2, 3, 4, 5]:

    Write a Python program that uses a for loop to print the square of each element in the list.

In [97]:
numbers = [1, 2, 3, 4, 5]
for i in numbers:
    print(i*i)

1
4
9
16
25

Question 9: Print Tuple Elements with Index

Given a tuple colors = ('red', 'blue', 'green', 'yellow'):

    Write a Python program to use a for loop to print each element in the tuple along with its index in the format Index x: color.

In [102]:
colors = ('red', 'blue', 'green', 'yellow')
for i in colors:
    print(colors.index(i),i)

0 red
1 blue
2 green
3 yellow

Question 10: Count Character Occurrences in a String

Write a Python program that takes a string input from the user:

    Use a for loop to count how many times each character appears in the string.
    Print each character along with its count.

Example input: "hello" would print:


h: 1<br>
e: 1<br>
l: 2<br>
o: 1<br>

In [105]:
STR=str(input("enter the string"))
char={}
for i in STR:
    if i in char:
        char[i]+=1
    else:
        char[i]=1
for i, count in char.items():
    print(f"{i}: {count}")

enter the stringhello
h: 1
e: 1
l: 2
o: 1

Question 11: Check for Even Numbers in a Set

Given a set of numbers num_set = {3, 7, 8, 10, 15, 18}:

    Write a Python program to iterate through the set and print only the even numbers.

In [107]:
num_set = {3, 7, 8, 10, 15, 18}
for i in num_set:
    if i%2==0:
        print(i)

18
8
10

Question 12: Filter Keys with Values Greater Than a Threshold

Given a dictionary product_prices = {'apple': 2, 'banana': 1, 'cherry': 3, 'mango': 5}:

    Write a Python program that uses a for loop to find and print only those products whose price is greater than 2.

In [129]:
product_prices = {'apple': 2, 'banana': 1, 'cherry': 3, 'mango': 5}
for i,j in product_prices.items():
    if j>2:
        print(i,j)

cherry 3
mango 5

Question 13: Reverse Each String in a List

Given a list words = ['python', 'loop', 'program', 'exercise']:

    Write a Python program that uses a for loop to reverse each word in the list and print it.

In [136]:
words = ['python', 'loop', 'program', 'exercise']
for i in words:
    i=words[::-1]
print(i)

['exercise', 'program', 'loop', 'python']

Question 14: Find Maximum Value in a List

Given a list of numbers numbers = [45, 67, 12, 89, 34]:

    Write a Python program that uses a for loop to find and print the maximum number in the list.

In [142]:

numbers = [45, 67, 12, 89, 34]
max_value = numbers[0]  

for num in numbers:
    if num > max_value:
        max_value = num  
print(max_value)

89

Question 1: Print Even Numbers Using Range

Write a Python program that uses the range() function to print all even numbers between 1 and 20 (inclusive).

In [143]:
for i in range(0,21):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

Question 2: Count Down Using While Loop

Write a Python program that uses a while loop to count down from 10 to 1 and prints each number.

In [147]:

count = 10
while count > 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1