This Notebook Contain Basic python topics includes Tuple,Set & Dict

Tuple - Tuple is the data type which stores the multiple items in the single variable
<br> It's denoted by - ()
<br>
Tuple is immutable Data type


Tuple is mostly use into Password collection or private data collection also where we don't want to change the data after creating due to its immuatable nature

SET - Set is the data type which store various items under single variable
<br> Its denoted by - {}
<br> SET always gives us unique value. do no allow dublicated value
<br> It can store list, tuple, dictionary.
<br> Set is unchangable

Dictionary - Dictionary is the data type in pythom which stores the key value pair data
<br> Its denoted by {key:value}
<br> we can check or change the value of the data inside dict using key.

# Tuple

In [1]:
#tuple - 
t=(1,2,34,5,"jayesh",[2,35,6,7,"Joy"])

In [2]:
t

(1, 2, 34, 5, 'jayesh', [2, 35, 6, 7, 'Joy'])

In [3]:
t[1]

2

In [9]:
t[5][4] = "yes"

In [10]:
t

(1, 2, 34, 5, 'jayesh', [2, 35, 6, 7, 'yes'])

Quetions on Tuples - 
Create a tuple with the following values: (10, 20, 30, 40, 50). Write a Python program to:

    Print the tuple.
    Access the second and fourth elements from the tuple.

In [11]:
T1=(10,20,30,40,50)
print(T1)

(10, 20, 30, 40, 50)

In [17]:
T1[2],T1[3]

(30, 40)

Question 2: Tuple Length

Given the tuple: ('apple', 'banana', 'cherry', 'date'), write a Python program to:

    Print the length of the tuple.

In [19]:
T2 = ('apple', 'banana', 'cherry', 'date')
len(T2)

4

Question 3: Immutable Nature of Tuples

Create a tuple: ('Python', 'Java', 'C++'). Try to modify the second item of the tuple to 'JavaScript' and observe what happens. Explain why the modification is not allowed.

In [20]:
T3=('Python', 'Java', 'C++')
T3[2]="JavaScript"

TypeError: 'tuple' object does not support item assignment

It gave error Because tuple are immutable and thats why we can not change its value

Question 4: Tuple Unpacking

Given the tuple: ('John', 25, 'Engineer'), unpack its values into three variables and print them separately.

In [31]:
T4=('John', 25, 'Engineer')
T4= name,age,personal

In [43]:
print("name = ",name,"Age = ", age," Personal = ", personal)

name =  John Age =  25  Personal =  Engineer

Question 5: Concatenating Tuples

Write a Python program to:

    Concatenate two tuples: (1, 2, 3) and (4, 5, 6).
    Print the resulting tuple.

In [44]:
T5=(1, 2, 3)
T6=(4, 5, 6)

In [45]:
T5+T6

(1, 2, 3, 4, 5, 6)

Question 6: Checking Membership

Given the tuple: (5, 10, 15, 20, 25), write a program to check whether the value 15 is present in the tuple. Print an appropriate message.

In [48]:
T7=(5, 10, 15, 20, 25)
if 15 in T7:
    print("15 is present in T7")
else:
    print("15 is not present in T7")

15 is present in T7

Question 7: Tuple Slicing

Given the tuple: (100, 200, 300, 400, 500), write a Python program to:

    Print the first three elements.
    Print the last two elements.
    Print the tuple in reverse order.

In [49]:
T8= (100, 200, 300, 400, 500)

In [59]:
T8[:2]

(100, 200)

In [60]:
T8[-2:]

(400, 500)

In [61]:
T8[::-1]

(500, 400, 300, 200, 100)

Question 8: Converting a List to a Tuple

Write a Python program that:

    Takes a list: ['red', 'green', 'blue'].
    Converts it into a tuple and prints the result.

In [62]:
L1=['red', 'green', 'blue']

In [66]:
print(type(L1))
T9=tuple(L1)

<class 'list'>

In [67]:
type(T9)

tuple

Question 9: Nested Tuples

Create a tuple containing two tuples: ((1, 2, 3), ('a', 'b', 'c')). Write a program to access and print:

    The first element of the first tuple.
    The second element of the second tuple.

In [69]:
T10=((1, 2, 3), ('a', 'b', 'c'))
T10[0][0]

1

In [70]:
T10[1][1]

'b'

Question 10: Finding Minimum and Maximum

Given a tuple of numbers: (42, 17, 68, 33, 59), write a Python program to:

    Find and print the minimum and maximum values from the tuple.

In [71]:
T11=(42, 17, 68, 33, 59)

In [73]:
min(T11)

17

In [74]:
max(T11)

68

# SET

Question 1: Create a Set

Create a set with the following elements: {1, 2, 3, 4, 5}. Write a Python program to:

    Print the set.
    Add the number 6 to the set.
    Remove the number 3 from the set.

In [81]:
S1= {1, 2, 3, 4, 5}
print(S1)

{1, 2, 3, 4, 5}

In [82]:
S1.add(6)

In [83]:
S1

{1, 2, 3, 4, 5, 6}

In [84]:
S1.remove(3)

In [86]:
S1

{1, 2, 4, 5, 6}

Question 2: Set Union

Given two sets: set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}, write a program to:

    Find the union of the two sets and print the result.

In [88]:
set1 = {1, 2, 3, 4} 
set2 = {3, 4, 5, 6}

In [89]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

Question 3: Set Intersection

Given two sets: set1 = {10, 20, 30, 40} and set2 = {30, 40, 50, 60}, write a Python program to:

    Find the intersection of the two sets and print the result.

In [91]:
set1 = {10, 20, 30, 40} 
set2 = {30, 40, 50, 60}

In [92]:
set1.intersection(set2)

{30, 40}

Question 4: Set Difference

Given two sets: set1 = {10, 20, 30, 40} and set2 = {30, 40, 50, 60}, write a Python program to:

    Find the difference between set1 and set2 and print the result.

In [93]:
set1 = {10, 20, 30, 40} 
set2 = {30, 40, 50, 60}

In [94]:
set1.difference(set2)

{10, 20}

Question 5: Check Membership

Given the set: fruits = {'apple', 'banana', 'cherry'}, write a Python program to:

    Check if 'banana' is present in the set.
    Check if 'orange' is present in the set.

In [95]:
fruits = {'apple', 'banana', 'cherry'}

In [96]:
if "banana" in fruits:
    print("yes")
else:
    print("no")

yes

In [97]:
if "orange" in fruits:
    print("yes")
else:
    print("no")

no

Question 6: Set Length

Create a set with the elements {100, 200, 300, 400, 500}. Write a Python program to:

    Print the length of the set.

In [98]:
S2={100, 200, 300, 400, 500}
len(S2)

5

Question 7: Remove Duplicates Using a Set

Given a list: [10, 20, 20, 30, 40, 40, 50], write a Python program to:

    Remove duplicate values by converting the list to a set.
    Print the set and verify that the duplicates are removed.

In [99]:
L1=[10, 20, 20, 30, 40, 40, 50]
L1

[10, 20, 20, 30, 40, 40, 50]

In [101]:
S3=set(L1)

In [102]:
S3

{10, 20, 30, 40, 50}

Question 8: Clear a Set

Create a set with the elements {1, 2, 3, 4, 5}. Write a Python program to:

    Clear all the elements from the set.
    Print the set to verify it's empty.

In [103]:
S4={1, 2, 3, 4, 5}
S4.clear()

In [104]:
S4

set()

Question 9: Frozen Set

Create a frozen set with the elements {10, 20, 30, 40, 50}. Write a Python program to:

    Print the frozen set.
    Attempt to add or remove an element from the frozen set and observe the result.

In [105]:
S5= frozenset({10, 20, 30, 40, 50})

In [106]:
S5

frozenset({10, 20, 30, 40, 50})

In [107]:
S5.add(60)

AttributeError: 'frozenset' object has no attribute 'add'

In [108]:
S5.remove(30)

AttributeError: 'frozenset' object has no attribute 'remove'

Frozenset are immutable thats why we can't add or remove anythogn from them

Question 10: Set Symmetric Difference

Given two sets: set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}, write a Python program to:

    Find the symmetric difference between the two sets and print the result.

These questions will help you understand how to create sets, perform operations like union, intersection, and difference, and utilize set-specific methods like adding, removing, and checking membership.

Question 10: Set Symmetric Difference

Given two sets: set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}, write a Python program to:

    Find the symmetric difference between the two sets and print the result.

In [109]:
set1 = {1, 2, 3, 4} 
set2 = {3, 4, 5, 6}

In [110]:
set1.difference(set2)

{1, 2}

# Dictionary

Question 1: Create a Dictionary

Create a dictionary with the following key-value pairs:
{'name': 'Alice', 'age': 30, 'city': 'New York'}

    Print the dictionary.
    Access and print the value associated with the key 'name'.

In [111]:
D1={"name":"Alice","Age":30,"City":"New york"}

In [112]:
D1

{'name': 'Alice', 'Age': 30, 'City': 'New york'}

In [113]:
D1["name"]

'Alice'

Question 2: Add Key-Value Pair

Given the dictionary: person = {'name': 'Bob', 'age': 28}, write a Python program to:

    Add a new key-value pair 'profession': 'Doctor'.
    Print the updated dictionary.

In [120]:
person = {'name': 'Bob', 'age': 28}

In [123]:
person["profession"]='Doctor'

In [124]:
person

{'name': 'Bob', 'age': 28, 'profession': 'Doctor'}

Question 3: Update Dictionary

Create a dictionary: car = {'brand': 'Toyota', 'year': 2010}. Write a program to:

    Update the 'year' value to 2022.
    Print the updated dictionary.

In [125]:
car = {'brand': 'Toyota', 'year': 2010}

In [126]:
car["year"]=2022

In [127]:
car

{'brand': 'Toyota', 'year': 2022}

Question 4: Remove Key-Value Pair

Given the dictionary: student = {'name': 'Sara', 'age': 21, 'grade': 'A'}, write a program to:

    Remove the key 'age' from the dictionary.
    Print the updated dictionary.

In [128]:
student = {'name': 'Sara', 'age': 21, 'grade': 'A'}

In [131]:
student.pop("age")

21

In [132]:
student

{'name': 'Sara', 'grade': 'A'}

Question 5: Check Key Existence

Write a Python program to:

    Check if the key 'city' exists in the dictionary person = {'name': 'Mike', 'age': 24}.
    Print a message indicating whether the key exists or not.

In [133]:
 person = {'name': 'Mike', 'age': 24}

In [135]:
if "city" in person:
    print("yes")
else:
    print("no")

no

Question 6: Dictionary Length

Create a dictionary: inventory = {'apples': 10, 'oranges': 5, 'bananas': 7}. Write a program to:

    Print the number of key-value pairs in the dictionary.

In [136]:
inventory = {'apples': 10, 'oranges': 5, 'bananas': 7}

In [137]:
len(inventory)

3

Question 8: Get Value with Default

Write a Python program that:

    Tries to access the value for the key 'salary' in the dictionary person = {'name': 'Alex', 'age': 27}.
    If the key does not exist, return a default value 'Not Available' instead.

In [141]:
person = {'name': 'Alex', 'age': 27}

In [148]:
if "salary" in person:
    print(salary)
else:
    print("not Availble")

not Availble

Question 9: Merge Two Dictionaries

Given two dictionaries: dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

    Merge the two dictionaries and print the result.
    Note how duplicate keys are handled.

In [157]:
dict1 = {'a': 1, 'b': 2} 
dict2 = {'b': 3, 'c': 4}

In [159]:
dict1.update(dict2)

In [160]:
dict1

{'a': 1, 'b': 3, 'c': 4}

Question 10: Nested Dictionary

Create a nested dictionary with the following structure:

python

student = {
    'name': 'Lily',
    'details': {
        'age': 22,
        'subjects': ['Math', 'Physics']
    }
}

    Access and print the list of subjects.

In [173]:
student = { 'name': 'Lily', 'details': { 'age': 22, 'subjects': ['Math', 'Physics'] } }

In [178]:
student['details']["subjects"]

['Math', 'Physics']